*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --main-accent: #A7030E;
    --main-bg: #FAFAFA;
}

html, body {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #000;
    font-family: 'Inter', sans-serif;
    background-color: var(--main-bg);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.button {
    cursor: pointer;
    padding: 0;
    border: none;
    padding: 11px;
    max-width: 193px;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    transition: all ease-in-out .4s;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    max-width: 1520px;
    width: 95%;
    margin: 0 auto;
}

.button--main {
    background: var(--main-accent);
    border: 1px solid var(--main-accent);
}

.button--main:hover {
    background: transparent;
    color: var(--main-accent);
}

.button--second {
    color: var(--main-accent);
}

.button--second:hover {
    background-color: var(--main-accent);
    color: #fff;
}

.button--transparent {
    border: 1px solid var(--main-accent);
    background-color: transparent;
    color: var(--main-accent);
}

.button--transparent:hover {
    background-color: var(--main-accent);
    color: #fff
}

.section {
    margin-bottom: 180px;
    position: relative;
}

.section__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    position: relative;
}

/* HEADER START */
.header {
    padding: 19px 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul,
.header__right-box {
    display: flex;
    align-items: center;
}

.nav ul li:not(:first-child, :last-child) {
    margin-right: 60px;
}

.nav ul li:first-child {
    margin-right: 40px;
}

.header__right-box {
    margin-left: 50px;
    justify-content: flex-end;
    flex-grow: 1;
}

.lang {
    margin-left: 40px;
}

.nav li a {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 7px 0;
    transition: all ease-in-out .4s;
}

.nav li a:hover,
.nav li.active a {
    color: var(--main-accent);
}

.lang {
    cursor: pointer;
}

.lang.active .lang__active .lang__arrow-tr{
    transform: rotate(315deg);
}

.lang .lang__active {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--main-accent);
    display: flex;
    align-items: center;
}

.lang .lang__active .lang__arrow-tr {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--main-accent);
    border-right: 2px solid var(--main-accent);
    transform: rotate(135deg);
    margin-left: 7px;
    transition: all ease-in-out .4s;
}

.burger {
    width: 30px;
    height: 30px;
    line-height: 2px;
    position: relative;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
    z-index: 111;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-accent);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

/* * BURGER START * */
.burger::before {
    top: 0;
}
  
.burger::after {
    top: calc(100% - 2px);
}
  
.burger__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--main-accent);
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
}
 
.burger.burger--active::before,
.burger.burger--active::after,
.burger.burger--active .burger__line {
    background-color: #fff;
}
  
.burger--active::before {
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
  
.burger--active .burger__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}
/* * BURGER END * */
/* * MOBILE MENU START * */
.mobile-menu {
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    background-color: #000;
    height: 100vh;
    z-index: 11;
    transition: all ease-in-out .4s;
}

.mobile-menu.menu--active {
    right: 0;
}

.mobile-menu .nav {
    padding: 40px;
}

.mobile-menu .nav ul a {
    font-size: 26px;
    line-height: 30px;
    color: #fff;
    border: 2px solid transparent;
}

.mobile-menu .nav ul li:not(:first-child, :last-child) {
    margin-right: 0;
}

.mobile-menu .nav ul li:not(:last-child) {
    margin-bottom: 15px;
}

.mobile-menu .nav ul li:not(:first-child) a:hover {
    border-bottom: 2px solid #fff;
}

.mobile-menu .nav ul li:not(:first-child) {
    display: block;
}

.mobile-menu .nav ul li:first-child {
    margin-right: 0;
}

.mobile-menu .footer__logo-text {
    margin-left: 10px;
}

.mobile-menu .footer__logo-title {
    font-size: 20px;
    line-height: 24px;
}

.mobile-menu .footer__logo-subtitle {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
}

.mobile-menu .nav ul {
    flex-direction: column;
}

.mobile-menu .founder {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 20px;
}

.mobile-menu .founder__name {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
}

.mobile-menu .founder__link {
    font-size: 28px;
    line-height: 34px;
}

.mobile-menu .socials {
    margin-top: 30px;
}

.mobile-menu .socials__link .icon {
    fill: #fff;
    width: 30px;
    height: 30px
}

.mobile-menu .socials__link:last-child {
    vertical-align: middle;
}

.mobile-menu .socials__link:hover .icon {
    fill: var(--main-accent);
}

.mobile-menu .socials {
    display: flex;
    align-items: center;
}
/* * MOBILE MENU END * */
/* HEADER END */
/* MAIN SCREEN START */
.main-screen {
    background-image: url('../images/home/main-screen.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    padding-top: 420px;
    padding-bottom: 115px;
    z-index: 1;
}

.main-screen::before {
    content: "";
    background: rgba(0, 0, 0, 0.47);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.main-screen::after {
    content: "";
    background-image: url('../images/shadow-1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 340px;
    position: absolute;
    left: 0;
    bottom: -300px;
    z-index: -1;
}

.main-screen__content {
    max-width: 550px;
}

.section__main-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.section__main-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 40px;
}

.buttons-group {
    display: flex;
    gap: 40px;
}

.buttons-group .button {
    max-width: 220px;
}

.main-screen .button--transparent {
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #fff;
}

.main-screen .button--transparent:hover {
    background-color: #fff;
    color: var(--main-accent);
}
/* MAIN SCREEN END */
/* ABOUT US START */
.about {
    z-index: 1;
}

.about::after {
    content: "";
    background-image: url('../images/shadow-2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 1000px;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

.about__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content {
    max-width: 794px;
    margin-left: 50px;
}

.section__title {
    font-weight: 400;
    font-size: 67px;
    line-height: 81px;
}

.section__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}

.section__title--mb {
    margin-bottom: 40px;
}

.about__image {
    max-width: 630px;
    min-width: 400px;
    height: 530px;
    position: relative;
}

.about__image::before {
    content: "";
    position: absolute;
    background: var(--main-accent);
    opacity: 0.1;
    box-shadow: 0px 0px 12.2568px rgba(209, 127, 132, 0.68);
    border-radius: 40px;
    width: 100%;
    height: 100%;
    top: 0;
    transform: rotate(9deg);
}

.about__image::after {
    content: "";
    position: absolute;
    background: var(--main-accent);
    opacity: 0.1;
    box-shadow: 0px 0px 12.2568px rgba(209, 127, 132, 0.68);
    border-radius: 40px;
    width: 100%;
    height: 100%;
    top: 0;
    transform: rotate(-7deg);
}

.about__image .image {
    object-fit: cover;
    border-radius: 40px;
    position: relative;
    z-index: 1;
}
/* ABOUT US END */
/* WARDS START */
.section__top {
    margin-bottom: 40px;
}

.wards .section__top,
.team .section__top,
.media .section__top {
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    position: relative;
}

.slider .swiper {
    max-width: 1420px;
    padding: 20px 10px;
    margin: 0 auto;
}

.slider__item {
    max-width: 465px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}

.slider__image .image {
    border-radius: 10px 10px 0px 0px;
    max-height: 265px;
    object-fit: cover;
}

.slider__content {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
}

.slider__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}

.slider__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.swiper-button-next,
.swiper-button-prev {
    cursor: pointer;
    width: inherit;
    height: inherit;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: "";
    background-image: url('../images/slider-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 18px;
    height: 87px;
}

.swiper-button-prev:after {
    transform: rotate(180deg);
}
/* WARDS US END */
/* TEAM START */
.team {
    z-index: 1;
}

.team::after {
    content: "";
    background-image: url('../images/shadow-3.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 320px;
    height: 1400px;
    top: 200px;
}

.team .button--transparent {
    max-width: 220px;
}

.team .slider__item {
    max-width: 339px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
    border-radius: 15px;
    margin: 0 auto;
}

.team .slider__content {
    padding-top: 26px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.slider .slider__image .image {
    max-height: 446px;
    border-radius: 15px 15px 0px 0px;
}

.slider__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.team .slider__title {
    margin-top: 10px;
}

.team .slider__text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.socials__link {
    padding: 5px;
}

.socials__link .icon {
    transition: all ease-in-out .4s;
    fill: var(--main-accent);
}

.socials__link:hover .icon {
    fill: #000;
}

.socials__link:first-child {
    margin-right: 5px;
}

.slider .swiper-horizontal>.swiper-pagination-bullets {
    position: static;
    margin-top: 20px;
}

.slider .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid var(--main-accent);
    background-color: #fff;
}

.slider .swiper-pagination-bullet-active {
    background-color: var(--main-accent);
}

.team .slider .swiper {
    max-width: 1410px;
    padding: 20px 5px;
}
/* TEAM END */
/* HELP FOND START */
.help {
    z-index: 1;
}

.help::after {
    content: "";
    background-image: url('../images/shadow-4.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 525px;
}

.help .section__title {
    text-align: center;
    margin-bottom: 40px;
}

.help__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.help__item:not(:last-child) {
    margin-bottom: 40px;
}

.help__item.help__item--reverse {
    flex-direction: row-reverse;
}

.help__images {
    max-width: 580px;
    width: 100%;
}

.help__images .image {
    object-fit: cover;
    border-radius: 15px;
    height: 400px;
}

.help__content {
    max-width: 878px;
    width: 100%;
    margin-left: 20px;
}

.help__item.help__item--reverse .help__content {
    margin-left: 0;
    margin-right: 20px;
}

.help__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #A7030E;
}

.help__text {
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    margin-top: 18px;
    margin-bottom: 25px;
}

.help .button {
    display: block;
}
/* HELP FOND END */
/* MEDIA START */
.media .slider__title {
    margin-top: 20px;
}
/* MEDIA END */
/* FOOTER START */
.footer {
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url('../images/footer/footer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.footer .nav a {
    color: #fff;
}

.footer__wrapper {
    max-width: 1388px;
}

.footer .nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 200px;
    max-width: 640px;
}

.footer .nav ul li:first-child {
    margin-right: 0;
}

.footer .nav ul li:not(:first-child, :last-child) {
    margin-right: 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    max-width: 1178px;
}

.founder__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
}

.founder__link {
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    padding-left: 22px;
    transition: all ease-in-out .4s;
}

.founder__link:hover {
    color: var(--main-accent);
}

.founder__phone {
    margin-bottom: 10px;
}

.founder__link::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: calc(50% - 6px);
}

.founder__phone::before {
    background-image: url('../images/phone.svg');
}

.founder__mail::before {
    background-image: url('../images/email.svg');
}

.footer .socials {
    margin-top: 20px;
}

.footer .socials__link .icon {
    fill: #fff;
}

.footer .socials__link:hover .icon {
    fill: var(--main-accent);
}

.footer__middle {
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 22px 0;
    background-color: rgba(196, 196, 196, 0.25);
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe__descript {
    max-width: 400px;
}

.subscribe__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
}

.subscribe__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.subscribe__form {
    display: flex;
    align-items: center;
    max-width: 828px;
    flex-grow: 1;
}

.subscribe__label {
    display: block;
    width: 100%;
}

.subscribe__input {
    padding: 22px 37px;
    background: #FFFFFF;
    border-radius: 15px 0 0 15px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(0, 0, 0, .5);
    width: 100%;
    border: 1px solid transparent;
    outline-color: var(--main-accent);
}

.subscribe .button {
    max-width: 318px;
    padding: 22px;
    line-height: 29px;
    border-radius: 0 15px 15px 0;
}

.subscribe .button:hover {
    border: 1px solid #fff;
    color: #fff;
    border-left: 0px;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo .image {
    width: 56px;
    height: 61px;
}

.footer__logo-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.footer__logo-subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
}

.footer__payments {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 122px;
    gap: 10px;
}

.footer__payments .payment {
    width: 78px;
    height: 57px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__payments .payment .image {
    object-fit: none;
}

.copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
/* FOOTER END */